{% extends 'base.html.twig' %}

{% block body %}
    <h2>{% trans %} homepage.tags.title {% endtrans %}</h2>
    <table class="table table-striped table-hover">
        {%  for tag in tags %}
        <tr><td><a href="{{ path('list_task_tag', {id: tag.id}) }}"> {{ tag.title }} </a></tr></td>
        {% else  %}
        <tr><td> {% trans %} tag.empty_list {% endtrans %} </tr></td>
        {% endfor %}
    </table>
{%  endblock %}