{% extends 'base.html.twig' %}

{% block body %}
    <h2>{% trans %} homepage.tags.title {% endtrans %}</h2>
    <ul>
    {%  for tag in tags %}
        <li> {{ tag.title }} </li>
    {% else  %}
        <li> {% trans %} tag.empty_list {% endtrans %} </li>
    {% endfor %}
    </ul>
{%  endblock %}