{% extends 'base.html.twig' %}

{% block body %}
    <h2>{% trans %} homepage.categories.title {% endtrans %}</h2>
    <ul>
    {%  for category in categories %}
        <li><a href="{{ path('list_task_category', {id: category.id}) }}"> {{ category.name }} </a></li>
    {% else  %}
        <li> {% trans %} category.empty_list {% endtrans %} </li>
    {% endfor %}
    </ul>
{%  endblock %}