{% extends 'base.html.twig' %}

{% block body %}
    <h2>{% trans %} homepage.tasks.title {% endtrans %}</h2>
    <ul>
    {%  for task in tasks %}
        <li> {{ task.label }} </li>
    {% else  %}
        <li> {% trans %} task.empty_list {% endtrans %} </li>
    {% endfor %}
    </ul>
{%  endblock %}